/* change the color, font and position of the first header */
h1 {
  font-family: "impact";
  font-weight: 500;
  line-height: 1.1;
  color: #490A3D;
  text-align: center;
}

/* enlarge the chart when hover over */
img:hover {
  transform: scale(1.3);
}

/* adjusting the size of charts */
img {
  height: 600px;
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}